body {
  background-color: rgb(234, 234, 234);
}

.mesmo-tamanho {
  white-space: normal;
  width: 13%;
}

.navbar {
  background-color: #e60014;
  color: white;
}

.productDetails {
  border: tomato solid;
  height: 100px;
  width: 100px;
  text-align: center;
}
