body {
  background-color: rgb(234, 234, 234);
}

.buttonInput {
  background-color: white;
  border: white solid;
  border-radius: 5px 5px;
}

.colorTitle {
  color: grey;
}

.iconCart {
  width: 150px;
}

.inputTamanho {
  border: white solid;
  border-radius: 6px 6px;
  margin-left: -100px;
  margin-right: -9px;
  width: 800px;
}

.mesmo-tamanho {
  white-space: normal;
  width: 13%;
}

.navbar {
  background-color: #e60014;
  color: white;
}

.productDetails {
  border: tomato solid;
  height: 100px;
  text-align: center;
  width: 100px;
}

.spaceButton {
  margin: 15px;
}
